
@{
    ViewBag.Title = "SertifikaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h4>Yeni Sertifika Ekleme Sayfası</h4>
<br />
<form method="post">

    <input type="text" name="Aciklama" class="form-control" placeholder="Sertifika Adını Giriniz" />
    <br />
    <input type="text" name="Link" class="form-control" placeholder="Sertifika Linkini Giriniz" />
    <br />
    
    <button class="btn btn-info">Kaydet</button>
</form>

